<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <filter>
    <filter-name>
      ipFilter
    </filter-name>
    <filter-class>
      ir.maktab.SimpleFilter
    </filter-class>
  </filter>

  <filter-mapping>
      <filter-name>
        ipFilter
      </filter-name>
      <url-pattern>
        /*
      </url-pattern>
  </filter-mapping>


<!--  <servlet>-->
<!--    <servlet-name>add</servlet-name>-->
<!--    <servlet-class>ir.maktab.AddServlet</servlet-class>-->
<!--  </servlet>-->


<!--  <servlet>-->
<!--    <servlet-name>sq</servlet-name>-->
<!--    <servlet-class>ir.maktab.SqServlet</servlet-class>-->
<!--  </servlet>-->


<!--  <servlet>-->
<!--    <servlet-name>SimpleServlet</servlet-name>-->
<!--    <servlet-class>-->
<!--      ir.maktab.SimpleServlet-->
<!--    </servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>sq</servlet-name>-->
<!--    <url-pattern>/sq</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>SimpleServlet</servlet-name>-->
<!--    <url-pattern>/sss</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>add</servlet-name>-->
<!--    <url-pattern>/add</url-pattern>-->
<!--  </servlet-mapping>-->
</web-app>
